{% extends "new_base.html" %}
{% load static %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'blogs.css' %}">{% endblock %}

{% block content %}


			<div id="blogs" class="container-fluid">
				<div class="row-me justify-content-center">

					<div class="col-md-5 blog">
						<div id="first_blog">
						<div class="image-container">
							<a href="{% url 'blog1' %}"><img src="../media/images_blogs/Image 9.png" width="100%"></a>
						</div>
						<div id="brief">
								<p >Getting started and going deep into Web Development</p>
								<p id="info">Posted by: Shubham Singhal<br>Posted on: 17 April 2017</p>
						</div>
						</div>
					</div>

					<div class="col-md-5 blog">
						<div id="second_blog">
						<div class="image-container">
							<a href="{% url 'blog2' %}"><img src="../media/images_blogs/Image 8.png" width="100%"></a>
						</div>
						<div id="brief">
								<p>CCSOC event-IIT Kanpur Network series and the  prerequisites to get started</p>
								<p id="info">Posted by Satya Prakash<br>Posted on: 17 April 2017</p>
						</div>
					</div>

					</div>


				</div>
			</div>


{% endblock %}
