{% extends "new_base.html" %}
{% load static %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'blogs.css' %}">{% endblock %}

{% block content %}


			<div id="blogs" class="container-fluid">
				<div class="row-me justify-content-center">
					{% for blog in blogs %}
					<div class="col-md-5 blog">
						<div id="first_blog">
						<div class="image-container">
							<a href="{% url 'blog_details' blog.pk %}"><img src="{{ blog.img.url }}" width="100%"></a>
						</div>
						<div id="brief">
								<p >{{ blog.topic }}</p>
								<p id="info">Posted by: {{ blog.author }}<br>Posted on: {{ blog.posted_on }}</p>
						</div>
						</div>
					</div>
					{% endfor %}

				</div>
			</div>


{% endblock %}
