{% extends "new_base.html" %}
{% load static %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'blogs12.css' %}">{% endblock %}
{% block content %}


		<div class="container-fluid" id="blogs">
	<div class="row-me justify-content-center">
		<div class="col-lg-8">
			<h2 class="heading">CCSOC event-IIT Kanpur Network series and the prerequisites to get started</h2>
		</div>
	</div>

	<div class="row-me justify-content-center" style="margin-top: 8%;">
		<div class="col-md-5 align-self-center">
			<img class="image1"src="../media/images_blogs/Image 8.png">
		</div>
		<div class="col-md-5 align-self-center">
			<img class="image1"src="../media/images_blogs/undraw_blogging_vpvv.png">
		</div>
	</div>

	<div class="container-fluid">
	   		<div class="row-me justify-content-center" id="margin" >
	   			<div class="col-sm-8">
	   			<p>CCSOC event-IIT Kanpur Network series and the prerequisites to get started<br><br>
	   				Posted by: <a href="#">Shubham Singhal</a><br>
                    Posted on: 17 April 2017 <br><br>

                   IIT Kanpur will be offering an online MOOC course on Cyber Security during June-July 2017.<br><br>

Prerequisites:<br>
-Very strong programming background with knowledge of run-time or execution environment, usage of debuggers, and knowledge of shared libraries or dynamically linked libraries<br>
-Basic knowledge of x86 assembly language or similar assembly languages will be assumed. -Basic knowledge of Operating Systems especially memory management, virtual memory etc. will be assumed.<br>
-Basic network protocols such as TCP/IP, DNS, routing etc.<br>
-Prior knowledge of a scripting language such as shell scripting, Perl, python and/or Ruby<br>
-Knowledge of Javascript, PHP or other web programming<br>
for more information visit ::https://www.securitymooc.in/<br>
For practice -<br>
1) Go through any vulnerability we want to explore like sql, crypto, xss, cookies related vulnerabilities i.e web,reverse engineering,forensic,cryptography<br>
2) As there is no defined course for any of the above mentioned topic you will need to google as these field are highly dynamic so visit blogs and more importantly also see how to fix the vulnerability.<br>
3) Go to ctftime.org ,here you will be able to sharpen your skills.<br>
Useful Links -<br>
https://www.facebook.com/haking.cracking.tutorial/photos/a.617436571620183.1073741828.590637780966729/1489847934379038/?type=3<br>
http://www.amanhardikar.com/mindmaps/Practice.html<br>
https://gist.github.com/Ku…/d4def0a4b3622edcb4b6ced9b31c5393<br>
Join OWASP IIT Guwahati Student Chapter -<br>
https://www.owasp.org/index.php/IIT_Guwahati_Student_Chapter<br>
Important -<br>
A CTF will soon be organised for 1st and 2nd year students under Hackerspace<br><br>

<a href="{% url 'blogs' %}" id="lowerlink">← Back to Blogs</a>

	   			</p>
	   		</div>
	   		</div>
	 </div>
</div>

{% endblock %}
