{% extends "new_base.html" %}
{% load static %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'completed_projects.css' %}">{% endblock %}

{% block content %}

<div class ="container-fluid" style="padding-top:50px;">
	<ul style="list-style-type:none; font-size:20px;">
		<li style="padding-bottom: 10px;"><a href="{% url 'completed_projects' %}" style="color:grey;"> → Completed Projects</a></li>
		<li > <a href="{% url 'projects' %}" >→ Ongoing Projects</a></li>
	</ul>
</div>


<div class ="container-fluid" style="padding-top:20px; text-align: center;">
<h2 >Completed Projects</h2>
<p style=" color: #E53167;">(Unavailable)</p>
</div>

<div class="container-fluid" style="padding-bottom:500px;">
</div>

{% endblock %}
