{% extends "new_base.html" %}
{% load static %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'events.css' %}">{% endblock %}

{% block content %}


		<!-- events page-->

		<div id="eventsyear" class ="container-fluid" >
			<div class="row-me justify-content-center">
				<div class="col-lg-4 align-self-center " >
					<table class="table-bordered" style="margin-left:15%;">
						<tr>      <td id="one" >Events</td>     </tr>
                        <tr>      <td id="two"><a href="{% url 'events' %}">2019 → </a> </td>       </tr>
                        <tr>      <td id="two"  style="border-top:0px"><a href="{% url 'events_2018' %}" class="activeyear">2018 →</a> </td>       </tr>
                        <tr>      <td id="two"><a href="{% url 'events_2017' %}">2017 →</a> </td>       </tr>
                   </table>
               </div>
               <div class="col-lg-5">
					<img class="image1" src="../media/images_events/undraw_investment_xv9d.png">
				</div>
			</div>

		</div>


		<!-- events of year requested-->

		<div class ="container-fluid" id="year">
			<h2>2018</h2>
		</div>


		<div id="events" class="container-fluid">
			<div class="row-me justify-content-center"  >
				<div class="col-sm-auto " >
					<div class="container-fluid box">
						<div class="card card-dim">
							<div class="cotainer-xs" style="margin: 10%;">
								<img src="../media/images_events/Image-10.png" class="card-img-top" alt="...">
							</div>
						    <div class="card-body">
						    	<h5 class="card-title">Interactive session  </h5>
							    <h6 class="card-subtitle mb-2 text-muted"> Posted by Coding Club</h6>
							    <p class="card-text">The Coding Club is organizing a Interactive Session, where seniors can guide them as to how one can enhance their technical skills in the three months. This will be followed by a discussion of the various events and projects that we will be undertaking next year, and a thorough discussion of the prerequisites for the same. This event must be attended by everyone who wants to be an active member in the coming semester</p>
							    <p id="date"><strong>April 24, 2019</strong></p>
						    </div>
					    </div>
					</div>
				</div>
				<div class="col-sm-auto " >
					<div class="container-fluid box">
						<div class="card card-dim">
							<div class="cotainer-xs" style="margin: 10%;">
								<img src="../media/images_events/Image-11.png" class="card-img-top" alt="...">
							</div>
						    <div class="card-body">
						    	<h5 class="card-title">MyPolly Botathon</h5>
							    <h6 class="card-subtitle mb-2 text-muted"> Posted by Coding Club</h6>
							    <p class="card-text">Have you ever wondered about creating your own Siri or Google Allo? Have you ever thought of the intricacies or the inner working of the brain of a chatbot, or are you just interested in development using Machine Learning and Artificial Intelligence?<br>Well then you’re at the right place, we are organizing a “Botathon”, a Hackathon for creating chatbots sponsored by MyPolly where you’ve to create your own chatbots and test it out in the real world. The Botathon will be of 24 Hours and absolutely zero coding experience is required! also, you can participate alone or form a team at the Botathon venue.
							    </p>
							    <p id="date"><strong>May 16,2019</strong></p>
						    </div>
					    </div>
					</div>
				</div>
				<div class="col-sm-auto" >
					<div class="container-fluid box">
						<div class="card card-dim">
							<div class="cotainer-xs" style="margin: 10%;">
								<img src="../media/images_events/Image-12.png" class="card-img-top" alt="...">
							</div>
						    <div class="card-body">
						    	<h5 class="card-title">Interactive session   </h5>
							    <h6 class="card-subtitle mb-2 text-muted"> Posted by Coding Club</h6>
							    <p class="card-text">The Coding Club is organizing a Interactive Session, where seniors can guide them as to how one can enhance their technical skills in the three months. This will be followed by a discussion of the various events and projects that we will be undertaking next year, and a thorough discussion of the prerequisites for the same. This event must be attended by everyone who wants to be an active member in the coming semester.

                                <p id="date"><strong>April 24, 2019</strong></p>
						    </div>
					    </div>
					</div>
				</div>
			</div>
       </div>





		<div class ="container-fluid" style="padding-top:20px; padding-bottom: 20px; text-align: center;">
			<a href="{% url 'events' %}" id="lowerlink"> ←	2019 </a>&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;	<a href="{% url 'events_2017' %}" id="lowerlink">2017 →</a>

		</div>

{% endblock %}
