{% extends "new_base.html" %}
{% load static %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">{% endblock %}
{% block content %}

		{% if messages %}
				{% for message in messages %}
					{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
					<div class="alert alert-success alert-dismissible">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<strong>{{message}}</strong>
					</div>
					{% endif %}
					{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
					<div class="alert alert-danger alert-dismissible">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<strong>{{message}}</strong>
					</div>
					{% endif %}
				{% endfor %}
		{% endif %}

		<div class="container-fluid" id="iitglogo">  	<img  src="../media/images_homepage/Image 14.jpg">

	   	</div>

	   	<div class="container-fluid">
	   		<div class="row-me justify-content-center">
				<div class="col-lg-7">
					<div >
						<h1 id="space2">"We are the Coding Club of<br>IIT Guwahati"</h1>
					</div>
					<div>
						<p  id="font18" style=" color:#657783;">Coding Club is one of the biggest clubs of IIT Guwahati. As a part of the<br> Institute Technical Council, we aim to provide a gateway for the people in our institute to join the coding community. We create a platform which allows students to gain assistance and mentorship to enhance their coding ability.</p>
					</div>
					<button class="button" id="button1">Learn More</button>
				</div>

				<div class="col-lg-5">
					<img class="image1"src="../media/images_homepage/undraw_mobile_marketing_iqbr.jpg">
				</div>
			</div>
		</div>

		<div class="container-fluid" id="space">
			<div class="row-me">
				<div class="col-lg-4">
					<h2 id="space2">Ongoing projects</h2>
				</div>
			</div>

			<div class="row-me justify-content-center">
				<div class="col-sm-auto">
					<div class="container-fluid">
						<div class="card card-dim">
							<div class="cotainer-xs">
								<img src="../media/images_homepage/Image 1.jpg" class="card-img-top" alt="...">
							</div>
						    <div class="card-body">
						    	<h5 class="card-title">Entertainment Bot</h5>
							    <h6 class="card-subtitle mb-2 text-muted">Messenger + Alexa bot</h6>
							    <p class="card-text">A simple personal assistant driven by text and voice with limitless possibilities of adding more features</p>
							    <a href="#" class="btn btn-primary">Learn More → </a>
						    </div>
					    </div>
					</div>
				</div>
				<div class="col-sm-auto">
					<div class="container-fluid">
						<div class="card card-dim">
							<div class="container-xs">
								<img src="../media/images_homepage/Image 2.jpg" class="card-img-top" alt="...">
							</div>
						    <div class="card-body">
						    	<h5 class="card-title">Calendar</h5>
							    <h6 class="card-subtitle mb-2 text-muted">React Native</h6>
							    <p class="card-text">A simple personal assistant driven by text and voice with limitless possibilities of adding more features</p>
							    <a href="#" class="btn btn-primary">Learn More →</a>
						    </div>
						</div>
					</div>
				</div>
			</div>

			<div class="container-fluid" >
				<div class="row-me justify-content-center" style="padding-top: 30px;">
					<button class="button col-sm-auto" id="button1" onclick="window.location.href = '{% url 'projects' %}'">Show More</button>
				</div>
			</div>
		</div>

		<div class="container-fluid" id="space">
			<div class="row-me">
				<div class="col-md-6">
					<div>
						<h2 id="space2">How to get started?</h2>
					</div>
					<div>
						<p id="font18">Want to start development?<br>
						We have some very good material for you,<br>
					check out the blog.</p>
					</div>

						<button class="button" id="button1" onclick="window.location.href = '{% url 'blogs' %}'">	Read Blog	</button>
				</div>
				<div class="col-md-5">
						<img class="image1" src="../media/images_homepage/undraw_maker_launch_crhe.jpg">
				</div>
			</div>
		</div>
{% endblock %}
