{% extends "new_base.html" %}
{% load static %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'ongoing_projects.css' %}">{% endblock %}

{% block content %}


<div class ="container-fluid" style="padding-top:50px;">
	<ul style="list-style-type:none; font-size:20px;">
		<li style="padding-bottom: 10px;"><a href="{% url 'completed_projects' %}"> → Completed Projects</a></li>
		<li > <a href="{% url 'projects' %}" style="color:grey;">→ Ongoing Projects</a></li>
	</ul>
</div>


<div class ="container-fluid" style="padding-top:20px;">
<h2 style="text-align: center;">Ongoing Projects</h2>
</div>

<div id="blogs" class="container-fluid">
		<div class="row-me justify-content-center">
					<div class="col-md " id="Project" >
						<div class="container-fluid box">
							<div class="card">
								<div class="image-conatainer" style="margin: 10%;">
									<img id="image"src="../media/images_projects/Image 11.png">
								</div>

								<div class="container-fluid">
									<p>Intranet Search Engine<br>Python Crawle</p>
								    <p>		<a href="#">Learn More →</a>	</p>
								</div>
							</div>
						</div>
                    </div>

                    <div class="col-md" id="Project">
						<div class="container-fluid box">
							<div class="card">
							<div id="image-container" style="margin: 10%;">
								<a href="#"><img id="image" src="../media/images_projects/Image 12.png"></a>
							</div>
							<div class="container-fluid">
								<div id="discription" class="container-fluid">
									<h5>Entertainment Bot</h5>
							    <h6 >Messenger + Alexa bot</h6>
							    <p >A simple personal assistant driven by text and voice with limitless possibilities of adding more features</p>
							    <a href="#" >Learn More → </a>
								</div>

							</div>
						</div>
						</div>
					</div>
		</div>

		<div class="row-me justify-content-center">
					<div class="col-md" id="Project">
						<div class="container-fluid box">
					<div class="card">

							<div class="image-conatainer" style="margin: 10%;">
								<img id="image"src="../media/images_projects/Image 11.png">
							</div>

							<div class="container-fluid">

									<p>Intranet Search Engine<br>Python Crawle</p>
								    <p>		<a href="#">Learn More →</a>	</p>

							</div>
						</div>
					</div>
                    </div>

                    <div class="col-md" id="Project" >
						<div class="container-fluid box">
							<div class="card">
							<div id="image-container" style="margin: 10%;">
								<a href="#"><img id="image" src="../media/images_projects/Image 12.png"></a>
							</div>
							<div class="container-fluid">
								<div id="discription" class="container-fluid">
									<h5>Entertainment Bot</h5>
							    <h6 >Messenger + Alexa bot</h6>
							    <p >A simple personal assistant driven by text and voice with limitless possibilities of adding more features</p>
							    <a href="#" >Learn More → </a>
								</div>

							</div>
						</div>
						</div>
					</div>
		</div>


</div>




<div class="container-fluid" style="padding-bottom:300px;">
</div>


{% endblock %}
