{% extends "new_base.html" %}
{% load static %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'ongoing_projects.css' %}">{% endblock %}

{% block content %}


<div class ="container-fluid" style="padding-top:50px;">
	<ul style="list-style-type:none; font-size:20px;">
		<li style="padding-bottom: 10px;"><a href="{% url 'completed_projects' %}"> → Completed Projects</a></li>
		<li > <a href="{% url 'projects' %}" style="color:grey;">→ Ongoing Projects</a></li>
	</ul>
</div>


<div class ="container-fluid" style="padding-top:20px;">
<h2 style="text-align: center;">Ongoing Projects</h2>
</div>

<div id="blogs" class="container-fluid">
	{% if projects %}
		<div class="row-me justify-content-center">
			{% for project in projects %}
					<div class="col-md " id="Project" >
						<div class="container-fluid box">
							<div class="card">
								<div class="image-conatainer" style="margin: 10%;">
									<img id="image"src="{{ project.img.url }}">
								</div>

								<div class="container-fluid">
									<h5>{{ project.name }}</h5>
									<h6>{{ project.outline }}</h6>
								    <p> {{ project.details }}</p>

											<a href="{% url 'project_detail' project.pk %}">Learn More →</a>
								</div>
							</div>
						</div>
          </div>
			{% endfor %}
		</div>
		{% else %}
		<p style=" color: #E53167;text-align: center;">(Unavailable)</p>

		{% endif %}

</div>




<div class="container-fluid" style="padding-bottom:300px;">
</div>


{% endblock %}
