{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
	<div class="row">
		{% for event in events %}
		<div class="col-sm-4">
			<div class="card">
				<div class="card-header"><h1><a href="{% url 'event_detail' event.id %}">{{ event.name }}</a></h1></div>
				<div class="card-block">
					<img class="img-responsive" style="object-fit: cover;" src="{{ event.img.url }}">
					<h3>Venue: {{ event.venue }}</h3>
					<p>Event Details: {{ event.details }}</p>
					<h3>Speakers: {{ event.speakers }}</h3>
					{% if user %}
					<div class="text-right" id="effect{{event.pk}}">
						{% if event in fav_events %}
							<button type="button" class="btn btn-theme" data-toggle="tooltip" data-placement="bottom" title="Unfavorite" value="{{event.pk}}" onclick="unfavorite(this)"><i class="material-icons" style="color:red">favorite</i></button>
						{% else %}
							<button type="button" class="btn btn-theme" data-toggle="tooltip" data-placement="bottom" title="Add to favorites" value="{{event.pk}}" onclick="favorite(this)"><i class="material-icons">favorite_border</i> </button>
						{% endif %}
					</div>
					{% endif %}
				</div>
				<div class="card-footer">Date: {{ event.date }}</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

<script>
	function favorite(d) {
		var input = d.getAttribute('value');

		$.ajax({
				url: "{% url 'favorite_event' %}",
				data: {
					csrfmiddlewaretoken: "{{ csrf_token }}",
					'inputValue': input
				},
				dataType: 'json',
				success: function (data) {
					place = "effect" + input
					html = '<button type="button" class="btn btn-theme" data-toggle="tooltip" data-placement="bottom" title="Unfavorite" value="'+data['pk']+'" onclick="unfavorite(this)"><i class="material-icons" style="color:red">favorite</i></button>'
					document.getElementById(place).innerHTML = html;
				}
			});
		}

	function unfavorite(d) {
		var input = d.getAttribute('value');

		$.ajax({
				url: "{% url 'unfavorite_event' %}",
				data: {
					csrfmiddlewaretoken: "{{ csrf_token }}",
					'inputValue': input
				},
				dataType: 'json',
				success: function (data) {
					place = "effect" + input
					html = '<button type="button" class="btn btn-theme" data-toggle="tooltip" data-placement="bottom" title="Add to favorites" value="'+data['pk']+'" onclick="favorite(this)"><i class="material-icons">favorite_border</i></button>'
					document.getElementById(place).innerHTML = html;

				}
			});
		}

</script>
{% endblock %}
