{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		{% for project in projects %}
		<div class="col-sm-4">
			<div class="card">
				<div class="card-header"><a href="{% url 'project_detail' project.id %}">{{ project.name }}</a></div>
				<div class="card-block">
					<img src="{{ project.img.url }}">
					<h3>Outline: {{ project.outline }}</h3>
					<p>Project Details: {{ project.details }}</p>
					<p>Pre-Requisites: {{ project.prereq }}</p>
				</div>
				<div class="card-footer">Date: {{ project.date }}</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
